.Gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3,);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  .image-container {
    // position: relative;
    margin: 5px 0;
    border: 2px solid #f49b27;
    border-radius: 5px;
  }

  img {
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }

    &.selected {
      border: 2px solid #f49b27;
    }
  }

  .details {
    background-color: #00000080;
    font-family: serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    text-align: left;
  }

  .btn-icon {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
}
