.Gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // display: flex;
  // flex-wrap: wrap;
  gap: 10px;
  .image-container {
    position: relative;
    margin: 5px 0;
    border: 2px solid #f49b27;
    border-radius: 5px;
    // overflow: hidden;
  }

  img {
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(2);
    }

    &.selected {
      border: 2px solid #f49b27;
    }
  }

  .details {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    text-align: left;
  }
}
