.Gallery {
  display: flex;
  gap: 10px;
  .image-container {
    position: relative;
    margin: 5px 0;
    width: 100%;
    border: 1px solid orange;
    border-radius: 5px;
    overflow: hidden;
  }

  img {
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &.selected {
      border: 2px solid blue;
    }
  }

  .details {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    text-align: left;
  }
}
