#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
.display {
  position: relative;
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  h1 {
    position: absolute;
    top: -5%;
    right: 10%;
    font-family: serif;
    font-size: 5rem;
    margin: 0;
  }
  span {
    font-size: 6rem;
    font-family: serif;
    font-weight: bold;
    color: #f49b27;
  }
}
