#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
h1{
  font-family: serif;
  font-size: 3rem;
  margin: 20px 0;
  text-decoration: underline;
  text-align: left;
}
.display {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-family: serif;
  text-decoration: underline;
  font-size: 3rem;
  span {
    color: orange;
  }
}
